<footer class="footer">
  <div class="container">
    <div class="text-muted">&copy; 2021 Tower Grove Games LLC. All rights reserved. Powered by <a href="https://gohugo.io/">Hugo</a> and
    <a href="http://www.github.com/nurlansu/hugo-sustain/">sustain</a> with ♥</div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
{{- range .Site.Params.custom_js -}}
  <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
