{{ define "main" }}
  {{ partial "header" . }}

  <section id="about">
    <div class="container">
      <div class="avatar mb-5">
        <img class="rounded-circle" src="{{ .Site.Params.avatar }}" alt="Responsive image">
      </div>
      {{ .Content }}
      <br>
      <br>
      <br>
      <br>
      {{ partial "subscribe.html" . }}
      {{ partial "social.html" . }}
    </div>
  </section>
{{ end }}
